html, body, .App {
    height: 100%;
    text-align: center; 
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .heading-container {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .logo-container {
    margin-right: 300px;
  }
  
  h1 {
    font-size: 50px; 
    font-weight: bold;
  }
  
  .logo {
    max-height: 1.5em; 
    height: auto;
  }
  
  .header-image-container {
    text-align: center; 
    margin-top: 20px;
  }
  
  .header-image {
    width: 95%; 
    height: 150px; 
  }
  
  .image-gallery-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Four images per row */
    gap: 16px;
  }
  
  .image-grid img {
    max-width: 100%;
    height: auto;
  }
  
  .load-more-button {
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
    font-size: 16px; 
  }
  
  .load-more-button:hover {
    background-color: #0056b3; 
  }
  
  @media screen and (max-width: 920px) {
    .image-grid {
      grid-template-columns: 1fr; /* One image per row */
    }
    .logo-container {
        margin-right: 0;
      }
    h1 {
      font-size: 30px;
      font-weight: bold;
      margin: 0%;
    }
    .logo {
        max-height: 0.5em;
        padding: 20px;
      }
  }
  